<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Корзина</title>
        <link th:href = "@{/styles/starter.css}" type="text/css" rel="stylesheet" />
        <link th:href = "@{/styles/style.css}" type="text/css" rel="stylesheet" />
        <link th:href = "@{/styles/cart.css}" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <header class="mainheader">
      <div class="container">
        <div class="pic-burger-container">
          <div id="menuToggle" style="left: -21em;">
            <input type="checkbox" id="burger-checkbox">

            <span></span>
            <span></span>
            <span></span>
          </div>

        </div>
        <img id="logo-in-desktop" th:src="@{/images/logo.png}">
        <nav class="mainnav">
          <ul>
              <li><a th:href="@{/}">Товары</a></li>
              <li sec:authorize="isAuthenticated()"><a th:href="@{/user/orders}">Мои заказы</a></li>
              <li style="color: white;" sec:authorize="isAuthenticated()" sec:authentication="name"></li>
              <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Выйти</a></li>
          </ul>
        </nav>

      </div>

    </header>
    <main>
      <div class="container">
        <section>
          <h2>Корзина</h2>
            <div class="table">
                <tr th:each="pizza : ${pizzasInCart}">
                    <div class="table_item">
                        <td><img  class="table_item_image" th:src="@{{path}(path=${pizza.getPathToImage()})}" /></td>
                        <span class="table_item_name"><td th:text="${pizza.getName()}"></td></span>
                        <span class="table_item_price"><td th:text="${pizza.getRubPrice()}"></td></span>
                        <form th:action="@{/pizza/removePizzaFromCart/{id}(id=${pizza.getID()})}" method="post" ><button><img th:src="@{/images/remove.png}"></button></form>
                    </div>
                </tr>
            </div>
            <div class="action-block" th:unless="${enableOrder}">
                <p>Корзина пуста!</p>
            </div>
            <div th:if="${enableOrder}" class="action-block">
                <div class="price-block">
                    <p class="price" th:text="${cartPrice}"></p>
                    <span>Оплата наличиными курьеру!</span>
                </div>
                <form th:action="@{/order/createOrder}" method="post">
                    <div><label> Адрес доставки : <input required type="text" name="address"> </label></div>
                    <br>
<!--                    <div><label> Время доставки : <input type="time" name="time"> </label></div>-->
<!--                    <br>-->
                    <div><button type="submit" style="color: white;"> Оформить заказ </button></div>
                </form>
            </div>
        </section>
      </div>
    </main>
    </body>
</html>