<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link th:href = "@{/styles/starter.css}" type="text/css" rel="stylesheet" />
    <link th:href = "@{/styles/style.css}" type="text/css" rel="stylesheet" />
    <link th:href = "@{/styles/orders.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<header class="mainheader">
    <div class="container">
        <div class="pic-burger-container">
            <div id="menuToggle" style="left: -21em;">
                <input type="checkbox" id="burger-checkbox">

                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
        <img id="logo-in-desktop" th:src="@{/images/logo.png}">
        <nav class="mainnav">
            <ul>
                <li><a th:href="@{/}">Товары</a></li>
                <li style="color: white;" sec:authorize="isAuthenticated()" sec:authentication="name"></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Выйти</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/user/cart}" ><img th:src="@{/images/cart25.png}"></a></li>
            </ul>
        </nav>

    </div>

</header>
<main>
    <div class="container" style="width: 1000px;">
        <section>
            <h2 sec:authorize="hasRole('ROLE_USER')">Мои заказы</h2>
            <h2 sec:authorize="hasRole('ROLE_ADMIN')">Все заказы</h2>
            <div class="table">
                <tr th:each="order : ${allOrders}">
                    <div class="table_item">
                        <span>
                            <p style="font-size: 0.6em; line-height: 0;">Номер заказа</p>
                            <td th:text="${order.getID()}"></td>
                        </span>
                        <span sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLOYEE')">
                            <p style="font-size: 0.6em; line-height: 0;">Пользователь</p>
                            <td th:utext="${order.getClient().getEmail()}"></td>
                        </span>
                        <span class="table_item_status" sec:authorize="hasRole('ROLE_USER')">
                            <p style="font-size: 0.6em; line-height: 0;">Статус заказа</p>
                            <td th:text="${order.getStatus()}"></td>
                        </span>
                        <span class="table_change_status" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_EMPLOYEE')">
                            <td>
                                <form th:action="@{/order/changeOrderStatus}" method="post">
                                    <select>
		                                <option value="CREATED" selected>Создан</option>
		                                <option value="SENT_TO_KITCHEN">Отправлен на кухню</option>
		                                <option value="COOKED">Приготовлен</option>
		                                <option value="SENT_TO_DELIVERY">Передан в доставку</option>
                                        <option value="DELIVERED_TO_CLIENT">Доставлен</option>
	                                </select>
                                </form>
                            </td>
                        </span>
                        <span class="table_item_price">
                            <p style="font-size: 0.6em; line-height: 0;">Стоимость</p>
                            <td th:text="${order.getPrice()}"></td>
                        </span>
                        <span class="table_item_name">
                            <p style="font-size: 0.6em; line-height: 0;">Адрес доставки</p>
                            <td th:text="${order.getAddress()}"></td>
                        </span>
                        <form th:action="@{/order/cancelOrder/{id}(id=${order.getID()})}" method="post" ><button><img th:src="@{/images/cancel.png}"></button></form>
                    </div>
                </tr>
            </div>
            <div class="action-block" th:unless="${anyOrders}">
                <p>Заказы отсутствуют, сделайте свой первый!</p>
            </div>
        </section>
    </div>
</main>
</body>
</html>