<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Пиццерия</title>
    <link rel="icon" th:src="@{images/logo.png}">

    <!--    <link href = "../static/styles/starter.css" type="text/css" rel="stylesheet" />-->
    <!--    <link href = "../static/styles/style.css" type="text/css" rel="stylesheet" />-->
    <!--    <link href = "../static/styles/catalog.css" type="text/css" rel="stylesheet" />-->

    <link th:href = "@{/styles/starter.css}" type="text/css" rel="stylesheet" />
    <link th:href = "@{/styles/style.css}" type="text/css" rel="stylesheet" />
    <link th:href = "@{/styles/catalog.css}" type="text/css" rel="stylesheet" />
    <link th:href = "@{/styles/loginPage.css}" type="text/css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="mainheader">
    <div class="container">
        <div class="pic-burger-container">
            <div id="menuToggle" style="left: -21em;">
                <input type="checkbox" id="burger-checkbox">

                <span></span>
                <span></span>
                <span></span>
            </div>
            <img id="logo-in-mobile" src="images/logo.png">
        </div>
        <img id="logo-in-desktop" th:src="@{images/logo.png}">
        <nav class="mainnav">
            <ul>
                <li><a th:href="@{/}">Товары</a></li>
                <li><a th:href="@{/login}">Войти</a></li>
                <li><img href="cart.html" th:src="@{images/cart25.png}"> 0</li>
            </ul>
        </nav>

    </div>

</header>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<br>
<div class="login-container">
    <h2>Регистрация</h2>
    <form th:action="@{/user/registration}" method="post">
        <div><label> Имя : <input type="text" name="firstName" autofocus="autofocus"/></label></div>
        <br>
        <div><label> Фамилия : <input type="text" name="lastName" autofocus="autofocus"/></label></div>
        <br>
        <div><label> Возраст : <input type="number" name="age" autofocus="autofocus"/></label></div>
        <br>
        <div><label> Электронная почта : <input type="email" name="email" autofocus="autofocus"/> </label></div>
        <br>
        <div><label> Пароль: <input type="password" name="password"/> </label></div>
        <br>
        <div><input type="submit" value="Зарегистрироваться"/></div>
    </form>
</div>
</body>
</html>
